# Supabase Configuration
# Get these values from your Supabase project settings at https://supabase.com/dashboard/project/_/settings/api


VITE_SUPABASE_URL=https://waxywordtmfvaryyumht.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_SSo3WS48cu7H9lwK6qfj-g_vuO4-ALJ

SUPABASE_ACCESS_TOKEN=sbp_8c58912e7aaf93f68da2341c0699e8973ad8507c
SUPABASE_DB_PASSWORD=&UmtRv3cBm.g6zm  # only if needed